// Place all the styles related to the urls controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.body{
  background-image: url("feature_img.gif");
  background-attachment: fixed;
}

.container{
  width: 600px;
  height: 500px;
  border-radius: 10px;
  margin-top: 70px;
  margin-left: 335px;
  background: #FFFFFF;
}
.form{
  margin-top: 100px;
  margin-left: 130px;
  .submit {
    margin-top: 20px;
    margin-left: 90px;
    display: block;
    background: #87CEEB;
    border: none;
    padding: 10px 20px;
    -moz-border-radius: 2px;
    border-radius: 3px;
    cursor: pointer;
    text-color: #FFFFFF;
    
  }
}

.text_area {
    width: 250px;
    height: 20px;
    border-radius: 7px;
}

.admin
{
  margin-top: 100px;
  margin-left: 10px;
}

.links{
  margin-top: 30px;
  margin-left: 130px;
    
}

.link{   
  padding: 10px 15px;
  background: #87CEEB;
  color: #FFF;
  border-radius: 3px;
    }
#flash_error
{
  width: 400px;
  height: 30px;
  margin-top: 20px;
  margin-left: 90px;
  color: red;
  background: #ffcccc;
  border-radius: 10px;
  text-align: center;
  position: absolute;
  line-height: 2em;
}

#flash_notice
{
  width: 400px;
  height: 30px;
  margin-top: 20px;
  margin-left: 90px;
  color: green;
  background: #66ffff;
  border-radius: 10px;
  text-align: center;
  position: absolute;
  line-height: 2em;
}

.footer{
  width: 600px;
  height: 50px;
  margin-left: 335px;
  background: #FFFFFF;
  border-radius: 10px;
  margin-top: 10px;
  margin-top: 5px;
  text-align: center;
  line-height: 3.1em;
}

h1{ 
  text-align: center;
  line-height: 3.1em;
}
.tab{
  width: 202px;
  min-height: 100px;
  border-radius: 13px;
  border-color: #87CEEB;
  border-style: solid;
  margin-left: 360px;
  margin-top: -230px;
}
.odd{background:   #A9EAFE;}
.even{ background:  #EFEFEF;}
h3{
  text-align: center;
}
